<h1>{{title}}</h1>
<p>(Start the server with <code>npm start</code> from the command line.)</p>
<ul>
    <li><a href="#" class="lightbox-image" data-src="/images/penny.jpg" alt="Test image alt text">Open image</a></li>
</ul>
