<h1>{{title}}</h1>
<p>(Start the server with <code>npm start</code> from the command line.)</p>
{{>error-container}}
<ul>
    <li><a href="#" class="lightbox-link-test">lightboxLink test</a></li>
    <li><a href="#" class="image-lightbox-link-test" data-src="/images/penny.jpg" data-alt="test lightbox image">imageLightboxLink test</a></li>
    <li><a href="#" class="form-lightbox-link-test">formLightboxLink test</a></li>
</ul>
