<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <!--// jQuery UI CSS //-->
    <link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.11.4/themes/ui-lightness/jquery-ui.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/css/app.css" />
</head>
<body>
{{{body}}}

{{> dialog}}

<!--// jQuery and jQuery UI -->
<script src="//code.jquery.com/jquery-1.12.2.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<script src="/js/northrose-lightboxlink.js"></script>
{{> (lookup . 'inlineJS')}}
</body>
</html>
