<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <!--// jQuery UI CSS //-->
    <link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.11.4/themes/ui-lightness/jquery-ui.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/css/app.css" />
</head>
<body>
{{{body}}}

<!--// dialog container markup //-->
<div id="globalDialog" title="">
    <div class="alert alert-error hidden"><!-- --></div>
    <div class="alert alert-success hidden"><!-- --></div>
    <div class="dialog-content"><!-- --></div>
</div>

<!--// jQuery and jQuery UI -->
<script src="//code.jquery.com/jquery-1.12.2.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<script src="/js/jquery.lightbox.js"></script>
<script>
    /**
     * Binding jQuery handlers
     */
    jQuery( function( $ ) {
        $( ".lightbox-image" ).lightbox( {
            cssClass: "lightbox-image",
            dialogType: "image",
            urls: {
                imageDialog: "http://localhost:3000/lightbox/image"
            }
        } );
    } );
</script>
</body>
</html>
