<!--// dialog container markup //-->
<div id="globalDialog" title="">
    <div class="alert alert-error hidden"><!-- --></div>
    <div class="alert alert-success hidden"><!-- --></div>
    <div class="dialog-content"><!-- --></div>
</div>
